<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/damir-bosnjak.jpg" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="javascrip:void(0)">
                        <img class="avatar border-gray" [src]="userProfile?.avatar"
                            alt="{{userProfile?.firstName}}">
                        <h5 class="title">{{userProfile?.firstName}} {{userProfile?.lastName}}</h5>
                    </a>
                    <p class="description">
                        @{{userProfile?.usr}}
                    </p>
                </div>
                <p class="description text-center signature">
                    "{{userProfile?.bio}}"
                </p>
                <p class="description text-black ml-16">
                    <span class="text-address"><fa-icon [icon]="['fas','map-marked-alt']"></fa-icon></span> : {{userProfile?.address}}
                </p>
                <p class="description text-black ml-16">
                    <span class="text-city"><fa-icon [icon]="['fas','city']"></fa-icon></span> : {{userProfile?.city}}
                </p>
                <p class="description text-black ml-16">
                    <span class="text-country"><fa-icon [icon]="['fas','globe-asia']"></fa-icon></span> : {{userProfile?.country}}
                </p>
                <p class="description text-black ml-16">
                    <span class="text-mail"><fa-icon [icon]="['far','envelope']"></fa-icon></span> : {{userProfile?.email}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-container">
    <img src="../../../../../assets/img/jan-sendereks.jpg" alt="">
</div>
<div class="bg-container blur-cover"></div>