@import "../../../../../assets/scss/paper-dashboard/variables";
.signature {
  white-space: pre-wrap;
}
.link-profile {
  &:hover {
    text-decoration: underline;
  }
}
.upload-image {
  position: relative;
  z-index: 4;
  top: 116px;
  .upload-icon {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    color: $yellow-300;
  }
  input {
    visibility: hidden;
  }
}
