/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "assets/scss/paper-dashboard.scss";
@-moz-keyframes spinner-border {
    to {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.spinner-border{display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -moz-animation: spinner-border .75s linear infinite;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    &.align-center{
      margin:0 auto;
    }
  }
  .pointer{
    cursor: pointer;
  }
